<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
   
    <main>
        
        <div class="header">
            <div class="logo">
                <img id="icon" loading="lazy"  src="/images/logo.webp" alt="">
            </div>
            <a href="https://maxbattel.netlify.app/" class="support" >
                <img loading="lazy"  src="/images/support.webp" alt="">
            </a>
            <div class="greet">
                <p>Wellcome Back,</p>
                <p class="big">Max Battle</p>
            </div>
            <div class="walletAmount" id="wallet/<%=user._id%>">
                <img class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">
                <div class="number"><%=user.totalBalance%></div>
            </div>
        </div> 
        <div class="fakeHeader"></div>
        <div id="pageLoader">
            <div class="skeleton-card">
                <div class="skeleton-thumbnail"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text short"></div>
            </div>
            <div class="skeleton-card">
                <div class="skeleton-thumbnail"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text short"></div>
            </div>
        </div> 
        <div class="page">
            <div class="noticeBoard">
            <div class="board">
                <div class="slide">
                    <img loading="lazy"  class="boardImage" src="https://dl.dir.freefiremobile.com/common/web_event/hash/54f31449f5f91cf0cc223cc635cd5952jpg" alt="">
                    <img loading="lazy"  class="boardImage" src="https://i.pinimg.com/736x/9e/c9/a5/9ec9a5f1d363186c400264fa9001d5b9.jpg" alt="fgsefd">
                    <img loading="lazy"  class="boardImage" src="https://i.pinimg.com/736x/ae/ba/60/aeba60a2925cf68764373f43b243d83e.jpg" alt="">
                    <img loading="lazy"  class="boardImage" src="https://i.pinimg.com/736x/35/0d/47/350d47ccc3a1ee6d8afee5fe68aadc71.jpg" alt="">
                    <img loading="lazy"  class="boardImage" src="https://i.pinimg.com/736x/ae/ba/60/aeba60a2925cf68764373f43b243d83e.jpg" alt="">
                    <img loading="lazy"  class="boardImage" src="https://i.pinimg.com/736x/4b/2b/62/4b2b62907cb9a30e6c89412434ecc383.jpg" alt="">
                </div>
                
            </div>
            <div class="imageTracker">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        
        <div class="heading">My Matches</div>
        <div class="myMatch">
            <div class="myOption ongoing" id="myOngoing/<%=user._id%>">
                <img loading="lazy"  src="/images/ongoing.webp" alt="" id="myOngoing">
                <p id="myOngoing/">Ongoing</p>
            </div>
            <div class="myOption upcomming" id="myUpcomming/<%=user._id%>">
                <img loading="lazy"  src="/images/upcomming.webp" alt="" id="myUpcomming">
                <p id="myUpcomming">Upcomming</p>
            </div>
            <div class="myOption completed" id="myCompleted/<%=user._id%>">
                <img loading="lazy"  src="/images/completed.webp" alt="" id="myCompleted">
                <p id="myCompleted">Completed</p>
            </div>
        </div>
        <div class="heading">Esports Games</div>
        <div class="tournamentBox">
            <div class="tournament fullMap" id="<%=user._id%>">
                <div class="tournamentPart1">
                    <div class="image">
                        <img loading="lazy"  src="https://photosnow.org/wp-content/uploads/2024/04/Watermark_1714617746065.jpg" alt="">
                    </div>
                    
                    <p>Full Map</p>
                </div>
                <div class="tournamentPart2">
                    Solo
                </div>
            </div>
            
        </div>
        </div>
        

        <div class="fakeFooter"></div> 
        <div class="footer"> 
            <div class="footerBox earn" id="earn/<%=user._id%>">
                <img loading="lazy"  src="/images/earn.webp" id="earn/<%=user._id%>" alt="">
                <p id="earn/<%=user._id%>">Earn</p>
            </div>
            <div class="footerBox home" id="home/<%=user._id%>">
                <img loading="lazy"  src="/images/home.webp" id="home/<%=user._id%>" alt="">
                <p id="home/<%=user._id%>" >Home</p>
            </div>
            <div class="footerBox wallet" id="wallet/<%=user._id%>">
                <img loading="lazy"  src="/images/wallet.webp" id="wallet/<%=user._id%>" alt="">
                <p id="wallet/<%=user._id%>">Wallet</p>
            </div>
            <div class="footerBox leadboard" id="leadboard/<%=user._id%>">
                <img loading="lazy"  src="/images/leadboard.webp" id="leadboard/<%=user._id%>" alt="">
                <p id="leadboard/<%=user._id%>">Leadboard</p>
            </div>
            <div class="footerBox profile" id="profile/<%=user._id%>">
                <img loading="lazy"  src="/images/profile.webp" id="profile/<%=user._id%>" alt="">
                <p id="profile/<%=user._id%>">Profile</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/header.js"></script>

    <script src="/javaScripts/footer.js"></script>
    <script src="/javaScripts/home.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/script.js"></script>

</body>
</html>

