<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
   
    <main>
        
        <div class="header">
            <div class="logo">
                <img id="icon" loading="lazy"  src="/images/logo.webp" alt="">
            </div>
            <a href="https://wa.me/7898488935" class="support" >
                <img loading="lazy"  src="/images/support.webp" alt="">
            </a>
            <div class="greet">
                <p>Wellcome Back,</p>
                
                <p class="big">Max Battle</p>
            </div>
            <div class="walletAmount" id="wallet/<%=user._id%>">
                <img class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">
                <div class="number"><%=user.totalBalance%></div>
            </div>
        </div> 
        <div class="fakeHeader"></div>
        <div id="pageLoader">
            <div class="skeleton-card">
                <div class="skeleton-thumbnail"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text short"></div>
            </div>
            <div class="skeleton-card">
                <div class="skeleton-thumbnail"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text short"></div>
            </div>
        </div> 
        <div class="page">
            <div class="noticeBoard">
            <div class="board">
                <div class="slide">
                    <img loading="lazy"  class="boardImage" src="/images/banner4.webp" alt="">
                    <img loading="lazy"  class="boardImage" id="/leadboard/<%=user._id%>" src="/images/banner3.webp" alt="">
                    <img loading="lazy"  class="boardImage"  src="/images/banner5.webp" alt="">
                    <img loading="lazy"  class="boardImage" id="/#tournamentBox" src="/images/banner6.webp" alt="">
                    <img loading="lazy"  class="boardImage" id="/deposit/<%=user._id%>" src="/images/banner1.webp" alt="">
                    <img loading="lazy"  class="boardImage" id="https://wa.me/7898488935" src="/images/banner2.webp" alt="fgsefd">
                    
                    
                    
                    
                    
                    
                </div>
                
            </div>
            <div class="imageTracker">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        
        <div class="heading">My Matches</div>
        <div class="myMatch">
            <div class="myOption ongoing" id="myOngoing/<%=user._id%>">
                <img loading="lazy"  src="/images/ongoing.webp" alt="" id="myOngoing">
                <p id="myOngoing/">Ongoing</p>
            </div>
            <div class="myOption upcomming" id="myUpcomming/<%=user._id%>">
                <img loading="lazy"  src="/images/upcomming.webp" alt="" id="myUpcomming">
                <p id="myUpcomming">Upcomming</p>
            </div>
            <div class="myOption completed" id="myCompleted/<%=user._id%>">
                <img loading="lazy"  src="/images/completed.webp" alt="" id="myCompleted">
                <p id="myCompleted">Completed</p>
            </div>
        </div>
        <div class="heading">Esports Games</div>
        <div class="tournamentBox" id="tournamentBox">
            <!-- <div class="tournament fullmap/solo/paid" id="<%=user._id%>">
                <div class="tournamentPart1">
                    <div class="image">
                        <img loading="lazy"  src="/images/solo.webp" alt="">
                    </div>
                    
                    <p>FULL MAP</p>
                </div>
                <div class="tournamentPart2">
                    SOLO
                </div>
            </div>
            <div class="tournament fullmap/duo/paid" id="<%=user._id%>">
                <div class="tournamentPart1">
                    <div class="image">
                        <img loading="lazy"  src="/images/solo.webp" alt="">
                    </div>
                    
                    <p>FULL MAP</p>
                </div>
                <div class="tournamentPart2">
                    DUO
                </div>
            </div> -->
            <div class="tournament cs/solo/paid" id="<%=user._id%>">
                <div class="tournamentPart1">
                    <div class="image">
                        <img loading="lazy"  src="/images/1v1.webp" alt="">
                    </div>
                    
                    <p>CLASH SQUAD</p>
                </div>
                <div class="tournamentPart2">
                    Cs 1v1
                </div>
            </div>
            
            <div class="tournament cs/duo/paid" id="<%=user._id%>">
                <div class="tournamentPart1">
                    <div class="image">
                        <img loading="lazy"  src="/images/2v2.webp" alt="">
                        
                        
                    </div>
                    
                    <p>CLASH SQUAD</p>
                </div>
                <div class="tournamentPart2">
                    Cs 2v2
                </div>
            </div>
            <div class="tournament cs/squad/paid" id="<%=user._id%>">
                <div class="tournamentPart1">
                    <div class="image">
                        <img loading="lazy"  src="/images/4v4.webp" alt="">
                    </div>
                    
                    <p>CLASH SQUAD</p>
                </div>
                <div class="tournamentPart2">
                    Cs 4v4
                </div>
            </div>
            <div class="tournament fullmap/solo/1rs" id="<%=user._id%>">
                <div class="tournamentPart1">
                    <div class="image fit">
                        <img loading="lazy"  src="/images/1rsMatch.webp" alt="">
                    </div>
                    
                    <p>FULL MAP</p>
                </div>
                <div class="tournamentPart2">
                    SOLO
                </div>
            </div>
            <!-- <div class="tournament fullmap/solo/free" id="<%=user._id%>">
                <div class="tournamentPart1">
                    <div class="image fit">
                        <img loading="lazy"  src="/images/freeMatch.webp" alt="">
                    </div>
                    
                    <p>FULL MAP</p>
                </div>
                <div class="tournamentPart2">
                    SOLO
                </div>
            </div> -->
            
        </div>

    </div>
        

        <div class="fakeFooter"></div> 
        <div class="footer"> 
            
            <div class="footerBox home" id="home/<%=user._id%>">
                <img loading="lazy"  src="/images/home.webp" id="home/<%=user._id%>" alt="">
                <p id="home/<%=user._id%>" >Home</p>
            </div>
            <div class="footerBox wallet" id="wallet/<%=user._id%>">
                <img loading="lazy"  src="/images/wallet.webp" id="wallet/<%=user._id%>" alt="">
                <p id="wallet/<%=user._id%>">Wallet</p>
            </div>
            <div class="footerBox leadboard" id="leadboard/<%=user._id%>">
                <img loading="lazy"  src="/images/leadboard.webp" id="leadboard/<%=user._id%>" alt="">
                <p id="leadboard/<%=user._id%>">Leadboard</p>
            </div>
            <div class="footerBox profile" id="profile/<%=user._id%>">
                <img loading="lazy"  src="/images/profile.webp" id="profile/<%=user._id%>" alt="">
                <p id="profile/<%=user._id%>">Profile</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/header.js"></script>

    <script src="/javaScripts/footer.js"></script>
    <script src="/javaScripts/home.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script type="module" src="/script.js"></script>

</body>
</html>

