<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/upcomming.css">
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <main>
        <div id="pageLoader">
            <div class="skeleton-card">
                <div class="skeleton-thumbnail"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text short"></div>
            </div>
            <div class="skeleton-card">
                <div class="skeleton-thumbnail"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text short"></div>
            </div>
        </div>
        <div class="header">
            <div class="logo back" id="wallet">
                <img style="height: 2rem;width: 2rem;" id="home" src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="">
            </div>
            <div class="support">
            </div>
            <div class="greet">
                <p class="big">My Ongoing</p>
            </div>
            <div class="notification">
                <!-- <img src="https://cdn-icons-png.flaticon.com/128/2311/2311524.png" alt=""> -->
            </div>
        </div>
        <div class="fakeHeader"></div>
        <% tournament.forEach(function(val) { %>
    <% 
    let flag = false;
    val.slots.forEach(function(slotUserId) {
        if (slotUserId && slotUserId.toString() === user._id.toString()) {
            flag = true;
        }
    });
    %>

    <% if (flag) { %>
        <div class="tournamentResult">
            <div class="part1">
                <div class="part1Image">
                    <img src="https://theesports.club/assets/logo/tec.svg" alt="">
                </div>
                <div class="part1Detail">
                    <div class="discription"><%=val.description%></div>
                    <%let date = new Date(val.dateAndTime).toLocaleDateString()%>
                    <%let time = new Date(val.dateAndTime).toLocaleTimeString()%>
                    <div class="date">Time : <%=date%> at <%=time%></div>
                </div>
            </div>

            <div class="tournamentDetail">
                <div class="detail">
                    <div class="detailPart">PRIZE POOL</div>
                    <div class="detailPart">PER KILL</div>
                    <div class="detailPart">ENTRY FEE</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">
                        <img class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">
                        <%= val.prizePool %>
                    </div>
                    <div class="detailPart bold">
                        <img class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">
                        <%= val.perKillAmount %>
                    </div>
                    <div class="detailPart bold">
                        <img class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">
                        <%= val.entryFee %>
                    </div>
                </div>

                <div class="detail">
                    <div class="detailPart">TYPE</div>
                    <div class="detailPart">VERSION</div>
                    <div class="detailPart">MAP</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold"><%= val.matchType %></div>
                    <div class="detailPart bold">TPP</div>
                    <div class="detailPart bold"><%= val.map %></div>
                </div>

                <div class="lastBar">
                    <div class="joinButton bigWidth">INFO</div>
                </div>

                <div class="joinButton">JOIN</div>
            </div>
        </div>
    <% } %>
<% }); %>

        
        
        <div class="fakeFooter"></div>
    </main>
    <script src="/javaScripts/back.js"></script>
    <script src="/javaScripts/tournamentBar.js"></script>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/script.js"></script>

    
</body>
</html>