<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/adminPanel.css">
    <link rel="stylesheet" href="/stylesheets/prizeDistribution.css">
</head>
<body>
    <main>
        <div class="sideBar">
            <div class="esportText">Admin Panel</div>
            <div class="option" id="adminPanel">
                <img src="https://cdn-icons-png.flaticon.com/128/8323/8323511.png" class="home" alt="">
                <div class="optionName home">Dashboard</div>
            </div>
            <div class="option">
                <img src="https://cdn-icons-png.flaticon.com/128/9743/9743061.png" class="profile" alt="">
                <div class="optionName profile">Tournaments</div>
            </div>
            <div class="option">
                <img src="https://cdn-icons-png.flaticon.com/128/476/476863.png" class="login" alt="">
                <div class="optionName login">Users</div>
            </div>
            <div class="option">
                <img src="https://cdn-icons-png.flaticon.com/128/6811/6811049.png" class="myTournament" alt="">
                <div class="optionName myTournament">Pending Results</div>
            </div>
            <div class="option">
                <img src="https://cdn-icons-png.flaticon.com/128/7653/7653930.png" class="support" alt="">
                <div class="optionName support">Announcements</div>
            </div>
            <div class="option">
                <img src="https://cdn-icons-png.flaticon.com/128/4400/4400828.png" class="privacyPolicy" alt="">
                <div class="optionName privacyPolicy">Logout</div>
            </div>
        </div>
        <div class="page">
            <div class="topBar">
                <div class="mobileMenu">
                    <img class="mobileMenu" src="https://cdn-icons-png.flaticon.com/128/2099/2099125.png" alt="">
                </div>
                Prize Distribution
            </div>
            <form action="" method="" class="userBox">
                <div class="raw">
                    <div class="usernameText" style="justify-content: center;">Total Participants</div>
                    <div class="kill">Kills</div>
                </div>
                <%user.forEach(function(val,index){%>
                    <div class="raw">
                        <div class="username" id="<%=val._id%>"><%=index+1%>. <%=val.gameName%></div>
                        <input class="input" type="number" name="" id="">
                    </div>
                <%})%>
                
                
            </form>
            <form action="/adminPrizeDistribution/<%=admin._id%>/<%=tournament._id%>" method="post">
                <input style="display: none;" class="users" type="text" name="users" id="">
                <input style="display: none;" class="finalButton" type="submit" value="Distribute">
            </form>
            <div class="button">Confirm</div>
        </div>
    </main>

    <script src="/javaScripts/adminPanel.js"></script>
    <script src="/javaScripts/prizeDistribution.js"></script>
</body>
</html>