<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/deposit.css">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <main class="flex">
        <div id="pageLoader" >
            <div class="skeleton-card">
                <div class="skeleton-thumbnail"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text short"></div>
            </div>
            <div class="skeleton-card">
                <div class="skeleton-thumbnail"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text short"></div>
            </div>
            <div class="footer">
                <div class="button">Cancel</div>
                <div class="button">Add Money</div>
            </div>
    </div>
        <div class="page flex">
            <div class="header">
            <div class="logo back" id="wallet">
                <img loading="lazy" style="height: 2rem;width: 2rem;" id="home" src="https://cdn-icons-png.flaticon.com/128/3114/3114883.png" alt="">
            </div>
            
            <div class="greet">
                <p class="big">Choose your match slot</p>
            </div>
            <div class="notification">
                <!-- <img loading="lazy" src="https://cdn-icons-png.flaticon.com/128/2311/2311524.png" alt=""> -->
            </div>
        </div>
        <div class="fakeHeader"></div>
        <%if((matchType).toLowerCase()=="solo"){%>
            <%for(let i=0;i< tournamentTemp.totalSlots;i++){%>
                <%if(slots.includes(i+1)){%>
                    <div class="choose">
                        <label for="<%=i+1%>"><%=i+1%></label>
                        <input class="blur" type="radio" name=""  id="" checked>
                    </div>     
                    <%}else{%>
                        <div class="choose">
                            <label for="<%=i+1%>"><%=i+1%></label>
                            <input class="select" id="<%=i+1%>" type="radio" name="Modi">
                        </div>  
                        
                    <%}%>
            
        <%}%>
        <%}else if((matchType).toLowerCase()=="duo"){%>
            <div class="topBar">
                <div class="slotText">Slots</div>
                <div class="slotText">A</div>
                <div class="slotText">B</div>
            </div>
            <%for(let i=0;i< tournamentTemp.totalSlots/2;i++){%>
                <div class="bar">
                <div class="slotText1">Team <%=i+1%></div>
                <div class="slotText1">
                    <%if(slots.includes((i+1)+"A")){%>
                        <input class="blur" type="radio" name=""  id="" checked>
                    <%}else{%>
                        <input class="select" id="<%=i+1%>A" type="radio" name="Modi">
                    <%}%>
                    
                </div>
                <div class="slotText1">
                    <%if(slots.includes((i+1)+"B")){%>
                        <input class="blur" type="radio" name=""  id="" checked>
                    <%}else{%>
                        <input class="select" id="<%=i+1%>B" type="radio" name="Modi">
                    <%}%>
                </div>
            </div>
            <%}%>
            
            
        <%}else if((matchType).toLowerCase()=="squad"){%>
            <div class="topBar">
                <div class="slotText">Slots</div>
                <div class="slotText">A</div>
                <div class="slotText">B</div>
                <div class="slotText">C</div>
                <div class="slotText">D</div>
            </div>
            <%for(let i=0;i< tournamentTemp.totalSlots/4;i++){%>
                <div class="bar">
                <div class="slotText1">Team <%=i+1%></div>
                <div class="slotText1">
                    <%if(slots.includes((i+1)+"A")){%>
                        <input class="blur" type="radio" name=""  id="" checked>
                    <%}else{%>
                        <input class="select" id="<%=i+1%>A" type="radio" name="Modi">
                    <%}%>
                    
                </div>
                <div class="slotText1">
                    <%if(slots.includes((i+1)+"B")){%>
                        <input class="blur" type="radio" name=""  id="" checked>
                    <%}else{%>
                        <input class="select" id="<%=i+1%>B" type="radio" name="Modi">
                    <%}%>
                </div>
                <div class="slotText1">
                    <%if(slots.includes((i+1)+"C")){%>
                        <input class="blur" type="radio" name=""  id="" checked>
                    <%}else{%>
                        <input class="select" id="<%=i+1%>C" type="radio" name="Modi">
                    <%}%>
                </div>
                <div class="slotText1">
                    <%if(slots.includes((i+1)+"D")){%>
                        <input class="blur" type="radio" name=""  id="" checked>
                    <%}else{%>
                        <input class="select" id="<%=i+1%>D" type="radio" name="Modi">
                    <%}%>
                </div>
            </div>
            <%}%>
            
            
        <%}%>
        
        <div class="fakeFooter"></div>
        <div class="nextParent">
            <div class="next" id="<%=user._id%>/<%=tournamentTemp._id%>">NEXT</div>
        </div>
        </div>
        
        
    </main>
    <script src="/javaScripts/back.js"></script>
    <script>
        let select = document.getElementsByClassName("select");
        let slotNumber;
        let page = document.querySelector(".page");
        let pageLoader = document.getElementById("pageLoader");
        for(let i=0;i<select.length;i++){
            select[i].addEventListener("click",function(){
                slotNumber = select[i].id;
            })
        }
        document.querySelector(".next").addEventListener("click",function(){
            if(slotNumber){
                page.style.display = "none";
                pageLoader.style.display = "block"
                window.location.href = `/tournament/payment/${document.querySelector(".next").id}/${slotNumber}`
            }
            
        })
        window.addEventListener("pageshow", function(event) {
            page.style.display = "flex";
            pageLoader.style.display = "none";
        });
    </script>
    <script src="/javaScripts/boiler.js"></script>
    <script type="module" src="/script.js"></script>

</body>
</html>