<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/boiler.css">
    <link rel="stylesheet" href="/stylesheets/tournamentLeadboard.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <main>
        <div class="header">
            <div class="heading">FFM SOLO TOURNAMENT (RYDEN BAN)</div>
            <div class="date">Organised on 18/06/2025 at 11:00 PM</div>
        </div>
        <div class="tournamentDetail">
                <div class="detail">
                    <div class="detailPart">PRIZE POOL</div>
                    <div class="detailPart">PER KILL</div>
                    <div class="detailPart">ENTRY FEE</div>
                </div>
                <div class="detail">
                    <div class="detailPart bold">
                        <img loading="lazy" class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">
                        <%=tournament.prizePool%></div>
                    <div class="detailPart bold">
                        <img loading="lazy" class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">
                        <%=tournament.perKillAmount%></div>
                    <div class="detailPart bold">
                        <img loading="lazy" class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">
                        <%=tournament.entryFee%></div>
                </div>
        </div>
        <div class="result">
            <div class="red">Match Result</div>
            <div class="table">
                <div class="tableHeading" id="blue">
                    <div class="position" id="bold">Pos.</div>
                    <div class="username " id="bold">Player Name</div>
                    <div class="kill bd" id="bold">Kills</div>
                    <div class="winning " id="bold">Winning</div>
                </div>
                <%players.forEach(function(val,index){%>
                    <div class="tableHeading">
                    <div class="position" id="bold"><%=index+1%></div>
                    <div class="username " id="bold"><%=val.userId.gameName%></div>
                    <div class="kill bd" id="bold"><%=val.kills%></div>
                    <div class="winning " id="bold">
                        <img loading="lazy" class="verySmallCoin" src="https://cdn-icons-png.flaticon.com/128/9382/9382295.png" alt="">
                        <%=val.kills*tournament.perKillAmount%></div>
                </div>
                <%})%>
            </div>
        </div>
    </main>
    <script src="/javaScripts/boiler.js"></script>
    <script src="/script.js"></script>

</body>
</html>